@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
    @apply invisible absolute;
  }
  
  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }
  
:root{
  --primary: #F3B664;
}

  .arrow {
    width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 0 20px 40px 20px;
   border-color: transparent transparent #006833 transparent;
   transform: rotate(270deg);
  left: -35px;
   position: absolute;
}

.map {
  position:relative;
  margin: 0 auto;
}

.point{
width: 180px;
height: 40px;
/* border-radius: 20PX; */
position:absolute;

align-items: center;
justify-content: center;
background-color:#006833;
}
.tooltip {
width: 180px;
color: white;
padding-inline: 10px !important;
padding: 10px 0px 10px 0px;
white-space: nowrap;
height: auto;
background-color:#006833;
}
